/*!
 * Theme: AMD Media
 * Author: STARTSITE - Andrey Galkin
 * Version: 1.1
 */

/*------------------------------------------------------------------

+ IMPORT FONTS
+ ROOT
+ TYPOGRAPHY
+ LINKS
+ FORMS
+ BUTTONS
+ ANIMATIONS
+ BASE STYLES

+ HEADER
+ FOOTER
+ CONTENT

+ MEDIA

-------------------------------------------------------------------*/

/*//////////////////////////////////////////////////////////////////
[ IMPORT FONTS ]*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

/*//////////////////////////////////////////////////////////////////
[ ROOT ]*/

:root {
    --color-black: #120e1e;
    --color-red: #e20338;
    --color-grey: #838189;
    --color-white: #FFFFFF;
    --ff-main: 'Source Sans Pro', sans-serif;
    --fw-regular: 400;
    --fw-semibold: 600;

    --bs-primary-rgb: 226,3,56;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 18,14,30;
    --bs-body-bg-rgb: 255,255,255;

    --bs-body-font-family: 'Source Sans Pro', sans-serif;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: normal;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #e20338;
    --bs-link-hover-color: #120E1E;
}

html {
    scroll-behavior: smooth;
}

/* Custom Scrollbar */

html::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

html::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb {
    background-color: #120E1E;
}

/*//////////////////////////////////////////////////////////////////
[ TYPOGRAPHY ]*/

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.ff-main {
    font-family: var(--ff-main);
}

.ff-title {
    font-family: var(--ff-title);
}

.fw-normal,
.fw-regular,
.fw-400 {
    font-weight: 400;
}

.fw-semibold,
.fw-600 {
    font-weight: 600;
}

.fs-8 {
    font-size: 8px;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 24px;
}

.fs-28 {
    font-size: 28px;
}

.fs-30 {
    font-size: 30px;
}

.fs-32 {
    font-size: 32px;
}

.fs-34 {
    font-size: 34px;
}

.fs-40 {
    font-size: 40px;
}

.fs-48 {
    font-size: 48px;
}

.fs-52 {
    font-size: 52px;
}

@media (min-width: 992px) {

    .fs-lg-8 {
        font-size: 8px;
    }
    
    .fs-lg-10 {
        font-size: 10px;
    }
    
    .fs-lg-12 {
        font-size: 12px;
    }
    
    .fs-lg-14 {
        font-size: 14px;
    }
    
    .fs-lg-16 {
        font-size: 16px;
    }
    
    .fs-lg-18 {
        font-size: 18px;
    }
}

/*//////////////////////////////////////////////////////////////////
[ LINKS ]*/

a {
    text-decoration: none;
}

.link-black {
    --bs-link-color: #120E1E;
    --bs-link-hover-color: #e20338;
}

/*//////////////////////////////////////////////////////////////////
[ FORMS ]*/

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    outline: none;
}

:focus,
:active {
    outline: none;
}

textarea {
    overflow: auto;
}

.form-control,
.form-select {
    font-size: 1.125rem;
    color: #495057;
    border-radius: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-select {
    background-image: url(../img/dropdown.svg);
    background-size: 13px 10px;
}

.form-control:focus,
.form-select:focus {
    border-color: var(--color-black);
    box-shadow: none;
}

.form-contact .form-control,
.form-contact .form-select {
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

/*//////////////////////////////////////////////////////////////////
[ BUTTONS ]*/

.btn {
    --bs-btn-padding-x: 2.5rem;
    --bs-btn-padding-y: 0.75rem;
    --bs-btn-font-size: 1.25rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: normal;
    --bs-btn-color: var(--color-black);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
}

.btn-primary {
    --bs-btn-color: var(--color-white);
    --bs-btn-bg: var(--color-black);
    --bs-btn-border-color: var(--color-black);
    --bs-btn-hover-color: var(--color-white);
    --bs-btn-focus-color: var(--color-white);
    --bs-btn-hover-bg: var(--color-red);
    --bs-btn-hover-border-color: var(--color-red);
    --bs-btn-focus-shadow-rgb: 226, 3, 56;
    --bs-btn-active-color: var(--color-white);
    --bs-btn-active-bg: var(--color-red);
    --bs-btn-active-border-color: var(--color-red);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--color-white);
    --bs-btn-disabled-bg: var(--color-grey);
    --bs-btn-disabled-border-color: var(--color-grey);
    transition: transform .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary:active,
.btn-primary:hover {
    transform: translate(-0.25rem, -0.25rem);
    box-shadow: 0.25rem 0.25rem var(--color-black);
    z-index: 5;
}

.btn-secondary {
    --bs-btn-color: var(--color-black);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--color-black);
    --bs-btn-hover-color: var(--color-white);
    --bs-btn-hover-bg: var(--color-red);
    --bs-btn-hover-border-color: var(--color-red);
    --bs-btn-focus-shadow-rgb: 226, 3, 56;
    --bs-btn-active-color: var(--color-white);
    --bs-btn-active-bg: var(--color-red);
    --bs-btn-active-border-color: var(--color-red);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--color-white);
    --bs-btn-disabled-bg: var(--color-grey);
    --bs-btn-disabled-border-color: var(--color-grey);
    transition: transform .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-secondary:active,
.btn-secondary:hover {
    transform: translate(-0.25rem, -0.25rem);
    box-shadow: 0.25rem 0.25rem var(--color-black);
    z-index: 5;
}

.btn-text {

}

.btn-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0 !important;
}

.btn-rounded-interactive {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 227px;
    height: 227px;
    color: var(--color-black);
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid;
    border-color: var(--color-black);
    border-radius: 50%;
}

.btn-rounded-interactive:hover {
    color: var(--color-white);
    background-color: var(--color-red);
}

.back-to-top {
    --bs-btn-color: var(--color-white);
    --bs-btn-bg: var(--color-black);
    --bs-btn-border-color: var(--color-black);
    --bs-btn-hover-color: var(--color-white);
    --bs-btn-hover-bg: var(--color-red);
    --bs-btn-hover-border-color: var(--color-red);
    --bs-btn-active-color: var(--color-white);
    --bs-btn-active-bg: var(--color-black);
    --bs-btn-active-border-color: var(--color-black);
    position: fixed;
    bottom: -1rem;
    right: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 999;
}

.back-to-top.js-active {
    bottom: 1rem;
    opacity: 1;
    visibility: visible;
}

.btn-md {
    padding: .5rem 1.5rem;
}

@media (min-width: 992px) {

    .btn-md {
        padding: .75rem 2.5rem;
    }
}

/*//////////////////////////////////////////////////////////////////
[ ANIMATIONS ]*/

.hover-shine:hover {
    opacity: 1;
    -webkit-animation: flash .8s;
    animation: flash .8s;
}

@-webkit-keyframes flash {
    0% {
        opacity: .65;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .65;
    }

    100% {
        opacity: 1;
    }
}

.hover-opacity {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.hover-opacity:hover {
    opacity: .65;
}

.hover-rotate:hover {
    transform: rotate(-15deg);
}

.img-floating {
    -webkit-animation: floating 5s ease-in-out infinite;
    animation: floating 5s ease-in-out infinite;
}

@-webkit-keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 8px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 8px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

/*//////////////////////////////////////////////////////////////////
[ BASE STYLES ]*/

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container-small {
    max-width: 1045px;
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

.w-100 {
    width: 100% !important;
}

.mt-small {
    margin-top: 46px !important;
}

.mt-big {
    margin-top: 106px !important;
}

.mb-small {
    margin-bottom: 46px !important;
}

.mb-big {
    margin-bottom: 106px !important;
}

.bg-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.color-black {
    color: var(--color-black);
}

.color-red {
    color: var(--color-red);
}

.color-grey {
    color: var(--color-grey);
}

.color-white {
    color: var(--color-white);
}

.bg-color-black {
    background-color: var(--color-black);
}

.ul-cols-1 {
    display: grid;
    grid-template-columns: repeat(1, auto);
}

.ul-cols-2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--color-black);
    --bs-nav-link-hover-color: var(--color-red);
    --bs-nav-link-disabled-color: #6c757d;
}

.nav-pills {
    --bs-nav-pills-border-radius: 2.25rem;
    --bs-nav-pills-link-active-color: var(--color-black);
    --bs-nav-pills-link-active-bg: #D9D9D9;
}

.nav-pills .nav-link {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.scrollable-container {
    position: relative;
    overflow: hidden;
    touch-action: pan-y;
}

.scrollable-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;
}

.scrollable-wrapper::-webkit-scrollbar {
    display: none;
}

.scrollable-wrapper > * {
    position: relative;
    display: inline-block;
    flex: 0 0 auto;
}

/*//////////////////////////////////////////////////////////////////
[ HEADER ]*/

.header {
    background-color: rgba(255, 255, 255, 0.985);
    transition: all 0.4s ease-in-out;
}

.js-fixed {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

/* Стили для скрипта headroom.js */

/* .headroom--unpinned .js-fixed,
.offcanvas-push .js-fixed {
    opacity: 0;
    transform: translateY(-100%);
}

.headroom--not-top.headroom--pinned .js-fixed {
    border-bottom: 1px solid #cccccc52;
} */

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: .5rem;
    --bs-navbar-color: var(--color-black);
    --bs-navbar-hover-color: var(--color-red);
    --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
    --bs-navbar-active-color: var(--color-red);
    --bs-navbar-brand-padding-y: 0;
    --bs-navbar-brand-margin-end: 0;
    --bs-navbar-brand-font-size: 1rem;
    --bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-nav-link-padding-x: 1rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.25rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: none;
    --bs-navbar-toggler-border-color: transparent;
    --bs-navbar-toggler-border-radius: 0.375rem;
    --bs-navbar-toggler-focus-width: 0;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    height: 150px;
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0;
    --bs-nav-link-font-size: 20px;
    --bs-nav-link-font-weight: 400;
    gap: 16px;
    padding: 8px 0;
}

.navbar-nav .nav-link {
    white-space: nowrap;
}

.dropdown-toggle::after {
    content: '\ea4a';
    font-family: "boxicons";
    font-size: 1.15rem;
    font-weight: normal;
    vertical-align: middle !important;
    border: none !important;
    line-height: 1;
}

.site-logo {
    display: inline-block;
    width: 95px;
}

.site-logo img {
    max-width: 100%;
    height: auto;
}

.navbar-block-contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
}

.navbar-block-menu {
    width: 100%;
}

@media (min-width: 992px) {

    .navbar {
        height: 100px;
    }

    .navbar-nav {
        gap: 32px;
    }

    .navbar-block-logo {
        order: 1;
    }

    .navbar-block-contacts {
        order: 3;
    }

    .navbar-block-menu {
        order: 2;
        width: auto;
    }
}

@media (max-width: 1200px) {
    
    .navbar-btn {
        display: none;
    }
}

/*//////////////////////////////////////////////////////////////////
[ FOOTER ]*/

.footer {
    padding: 30px 0 40px;
}

.footer .nav.flex-column {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0;
    --bs-nav-link-font-size: 18px;
    --bs-nav-link-color: var(--color-grey);
    --bs-nav-link-hover-color: var(--color-red);
    gap: 18px;
}

.widget-footer {
    margin-bottom: 46px;
}

.widget-footer .widget-title {
    color: #120E1E;
    font-size: 24px;
    margin-bottom: 18px;
}

.widget-footer p {
    margin-bottom: 18px;
}

.nav-grid {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.footer .nav-grid {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0;
    --bs-nav-link-font-size: 18px;
    --bs-nav-link-color: var(--color-grey);
    --bs-nav-link-hover-color: var(--color-red);
    gap: 18px;
}

.widget-collapse-link {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    text-align: start;
    border: 0;
    outline: none;
    padding: 0;
    box-shadow: none;
}

.widget-collapse-link::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='13' viewBox='0 0 23 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.296 2.94281L12.8679 12.3709C12.3022 12.9366 11.5276 12.9581 10.9313 12.4248L0.993632 3.53542C0.397372 3.00206 0.376989 2.26936 0.942674 1.70367C1.50836 1.13799 2.28299 1.11644 2.87925 1.6498L10.4319 8.40571C11.4256 9.29465 12.2364 9.30542 13.1431 8.33029L20.3084 1.16494C20.8741 0.599253 21.6487 0.577703 22.245 1.11106C22.8413 1.64443 22.8616 2.37712 22.296 2.94281Z' fill='%23120E1E'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.widget-collapse-link.collapsed::after {
    transform: rotate(0);
}

@media (min-width: 992px) {

    .widget-footer .widget-title {
        font-size: 32px;
    }
}

/*------------------------------------------------------------------
[ Modals & Offcanvas ]*/

.modal {
    --bs-modal-padding: 1.5rem;
    --bs-modal-header-border-width: 0;
    --bs-modal-header-padding: 1.5rem;
    --bs-modal-border-width: 0;
    --bs-modal-border-radius: 0;
}

.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {
    --bs-offcanvas-zindex: 1045;
    --bs-offcanvas-width: 21rem;
    --bs-offcanvas-height: 100vh;
    --bs-offcanvas-padding-x: 1rem;
    --bs-offcanvas-padding-y: 1rem;
    --bs-offcanvas-color: ;
    --bs-offcanvas-bg: #fff;
    --bs-offcanvas-border-width: 0;
    --bs-offcanvas-border-color: var(--bs-border-color-translucent);
    --bs-offcanvas-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.btn-close {
    width: 21px;
    height: 21px;
    background: transparent url(../img/cross.svg) 50%/21px auto no-repeat;
    opacity: .9;
}

.btn-close:focus {
    box-shadow: none;
}

@media (min-width: 992px) {

    .offcanvas,
    .offcanvas-lg,
    .offcanvas-md,
    .offcanvas-sm,
    .offcanvas-xl,
    .offcanvas-xxl {
        --bs-offcanvas-height: fit-content;
    }
}

/*//////////////////////////////////////////////////////////////////
[ CONTENT ]*/

.main {
    padding: 0 0 76px;
}

.main > .section {
    margin-bottom: 72px;
}

.main > .section:last-child {
    margin-bottom: 0;
}

.container-meta>* {
    display: inline-block;
}

.container-meta>*::before {
    content: '#';
}

/*------------------------------------------------------------------
[ all cards ]*/

.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: transparent;
    --bs-card-border-radius: 0;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    word-wrap: normal;
}

.card-blog {
    --bs-link-color: #120E1E;
    --bs-link-hover-color: #e20338;
    --bs-card-spacer-y: 0;
    --bs-card-spacer-x: 0;
}

.card-blog .card-date {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    margin-bottom: 12px;
}

.card-blog .card-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

.card-blog .card-description {
    font-size: 14px;
}

.card-arrow {
    display: block;
    width: 29px;
    height: 29px;
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.9583 0.75H3.04167C1.66667 0.75 0.75 1.66667 0.75 3.04167C0.75 4.41667 1.66667 5.33333 3.04167 5.33333H20.4583L1.4375 24.3542C0.520834 25.2708 0.520834 26.6458 1.4375 27.5625C2.35417 28.4792 3.72917 28.4792 4.64583 27.5625L23.6667 8.54167V25.9583C23.6667 27.3333 24.5833 28.25 25.9583 28.25C27.3333 28.25 28.25 27.3333 28.25 25.9583V3.04167C28.25 1.66667 27.3333 0.75 25.9583 0.75Z' fill='%23120E1E'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
}

/*------------------------------------------------------------------
[ section-breadcrumbs ]*/

.breadcrumb {
    --bs-breadcrumb-padding-x: 0;
    --bs-breadcrumb-padding-y: 0;
    --bs-breadcrumb-margin-bottom: 0;
    --bs-breadcrumb-bg: ;
    --bs-breadcrumb-border-radius: ;
    --bs-breadcrumb-divider-color: #120E1E;
    --bs-breadcrumb-item-padding-x: 0.5rem;
    --bs-breadcrumb-item-active-color: #120E1E;
    --bs-link-color: #120E1E;
    --bs-link-hover-color: #e20338;
}

.section-breadcrumbs {
    margin-top: 32px;
}

@media (min-width: 992px) {

    .section-breadcrumbs {
        margin-top: 46px;
    }
}

/*------------------------------------------------------------------
[ section-hero ]*/

.section-hero {
    position: relative;
    padding: 59px 0;
}

.hero-title {
    margin-bottom: 46px;
}

.hero-title h1 {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.88px;
    margin-bottom: 46px;
}

.hero-title .hero-subtitle {
    font-size: 24px;
    font-weight: 400;
}

.hero-activities {
    max-width: 1026px;
    margin-bottom: 46px;
}

.activities-card {
    --bs-link-color: #120E1E;
    position: relative;
    display: block;
    height: 100%;
    padding: 32px;
    transition: all 0.3s ease;
}

.activities-card:hover {
    background: linear-gradient(279.46deg, #FFFFFF -7.93%, rgba(255, 255, 255, 0.52) 62.76%);
}

.activities-card.last-card:hover {
    background: linear-gradient(276.49deg, #92F2DA -4.2%, rgba(255, 255, 255, 0.52) 90.67%);
}

.activities-card .activities-title {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.64px;
    margin-bottom: 10px;
}

.activities-card .activities-desc {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
    margin-bottom: 0;
}

.activities-card .card-arrow {
    position: absolute;
    bottom: 0;
    right: 24px;
    transition: transform 0.3s ease;
}

.activities-card:hover .card-arrow {
    transform: translate(10px, -10px);
}

.hero-advantages {
    max-width: 1220px;
    margin: 0 auto;
}

.item-advantage {
    padding: 0 8px;
}

.item-advantage p {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 0;
}

.item-advantage span {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

@media (min-width: 992px) {

    .section-hero {
        padding: 111px 0 66px;
    }

    .hero-title {
        margin-bottom: 77px;
    }

    .hero-title h1 {
        font-size: 44px;
        margin-bottom: 30px;
    }

    .hero-title .hero-subtitle {
        font-size: 32px;
    }

    .hero-activities {
        margin-bottom: 112px;
    }

    .activities-card .card-arrow {
        bottom: 12px;
        right: 24px;
    }

    .item-advantage p {
        font-size: 50px;
    }

    .item-advantage span {
        font-size: 20px;
    }
}

/*------------------------------------------------------------------
[ section-title ]*/

.section-title {
    margin-bottom: 46px;
}

.section-title h1 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 18px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 10px;
}

.section-title p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}

/*------------------------------------------------------------------
[ marqueeSwiper ]*/

.marqueeSwiper .swiper-wrapper {
    transition-timing-function: linear;
}

.marqueeSwiper .swiper-slide {
    height: 75px;
}

.marqueeSwiper .swiper-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.slider-overlay::before,
.slider-overlay::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 2;
}

.slider-overlay::before {
    top: 0;
    left: 0;
}

.slider-overlay::after {
    top: 0;
    right: 0;
    transform: rotateZ(180deg);
}

/*------------------------------------------------------------------
[ section-testimonials ]*/

.testimonialSwiper .swiper-wrapper {
    margin-bottom: 50px;
}

.testimonial-card {
    position: relative;
}

.testimonial-img {
    position: relative;
    height: 315px;
}

.testimonial-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial-img .overlay {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0%);
    z-index: 1;
    transition: all 0.3s ease;
}

.testimonial-text {
    position: relative;
    height: 315px;
    padding: 30px 30px 20px;
    border: 2px solid;
    border-color: #BCBBBF;
    overflow-y: auto;
}

.testimonial-text::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.testimonial-text::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,.1);
}

.testimonial-text::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0,0,0,.5);
}

.testimonial-text p {
    font-size: 20px;
}

.testimonial-text p:last-child {
    margin-bottom: 0;
}

@media (min-width: 992px) {

    .testimonialSwiper .swiper-wrapper {
        margin-bottom: 100px;
    }

    .testimonial-img {
        transform: translate(-30px, 0);
        z-index: 1;
    }

    .testimonial-text {
        padding: 50px 80px 40px 30px;
        transform: translate(30px, 50px);
    }
}

/*------------------------------------------------------------------
[ sidebar-widget ]*/

.widget-sidebar {
    margin-bottom: 32px;
}

.widget-sidebar .widget-title {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 18px;
}

.widget-sidebar p {
    font-size: 18px;
}

.widget-sidebar .widget-link {
    font-size: 32px;
}

.nav.sidebar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.6rem;
    --bs-nav-link-font-weight: var(--fw-semibold);
    --bs-nav-link-color: var(--color-black);
    --bs-nav-link-hover-color: var(--color-red);
    --bs-nav-link-focus-color: var(--color-black);
    --bs-nav-link-disabled-color: #6c757d;
}

.nav.sidebar-nav .nav-link:focus {
    color: var(--bs-nav-link-focus-color);
}

.nav.sidebar-nav .nav-link.active {
    color: var(--color-red);
}

.nav.sidebar-nav button.nav-link {
    text-align: left;
    border: none;
}

@media (min-width: 992px) {

    .sidebar-sticky {
        position: sticky;
        top: 120px;
    }
}

/*------------------------------------------------------------------
[ project grid ]*/

.link-with-arrow {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: var(--color-black);
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.link-with-arrow::after {
    content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3333 0H1.66667C0.666667 0 0 0.666667 0 1.66667C0 2.66667 0.666667 3.33333 1.66667 3.33333H14.3333L0.5 17.1667C-0.166666 17.8333 -0.166666 18.8333 0.5 19.5C1.16667 20.1667 2.16667 20.1667 2.83333 19.5L16.6667 5.66667V18.3333C16.6667 19.3333 17.3333 20 18.3333 20C19.3333 20 20 19.3333 20 18.3333V1.66667C20 0.666667 19.3333 0 18.3333 0Z' fill='%23120E1E'/%3E%3C/svg%3E%0A");
    /* display: block;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3333 0H1.66667C0.666667 0 0 0.666667 0 1.66667C0 2.66667 0.666667 3.33333 1.66667 3.33333H14.3333L0.5 17.1667C-0.166666 17.8333 -0.166666 18.8333 0.5 19.5C1.16667 20.1667 2.16667 20.1667 2.83333 19.5L16.6667 5.66667V18.3333C16.6667 19.3333 17.3333 20 18.3333 20C19.3333 20 20 19.3333 20 18.3333V1.66667C20 0.666667 19.3333 0 18.3333 0Z' fill='%23120E1E'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat; */
    transition: transform 0.3s ease;
}

.link-with-arrow:hover::after {
    transform: translate(10px, -10px);
}

.project-card {
    --bs-link-color: #120E1E;
    --bs-card-inner-border-radius: 0;
    display: block;
}

.project-card .card-figure {
    height: 400px;
}

.project-card .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card .card-body {
    position: relative;
    height: 100%;
    padding: 20px 32px 42px;
    border: 2px solid #D9D9D9;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.project-card:hover .card-body {
    background-color: #EBEBEC;
}

.project-card .card-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 100px;
}

.project-card .card-subtitle {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 6px;
}

.project-card .card-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 121.7%;
    letter-spacing: 0.4px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.project-card .card-meta {
    --bs-link-color: #120E1E;
    --bs-link-hover-color: #e20338;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 45px;
}

.project-card .card-arrow {
    position: absolute;
    bottom: 42px;
    right: 24px;
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.project-card:hover .card-arrow {
    transform: translate(10px, -10px);
}

.projects-nav {
    --bs-link-color: #838189;
    --bs-link-hover-color: #120E1E;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.projects-nav a {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 9px 22px;
    border: 1px solid #D9D9D9;
    border-radius: 50rem;
    background-color: transparent;
}

@media (min-width: 768px) {

    .project-card .card-body {
        padding: 27px 24px 42px;
    }

    .project-card .card-desc {
        gap: 0;
    }

    .project-card .card-subtitle {
        margin-bottom: 52px;
    }

    .project-card .card-meta {
        padding-right: 45px;
    }

    .project-card .card-arrow {
        bottom: 37px;
        right: 37px;
    }
}

@media (min-width: 1200px) {

    .project-card .card-arrow {
        opacity: 0;
    }

    .project-card:hover .card-arrow {
        opacity: 1;
    }
}

/*------------------------------------------------------------------
[ section-works-slider ]*/

.section-works-slider {
    padding: 55px 0 78px;
    background-color: #120E1E;
}

.section-works-slider .link-with-arrow {
    color: #fff;
}

.section-works-slider .link-with-arrow::after {
    content: url("data:image/svg+xml,%3Csvg width='21' height='22' viewBox='0 0 21 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.8485 0.811279H1.87879C0.860604 0.811279 0.181816 1.49052 0.181816 2.50939C0.181816 3.52826 0.860604 4.20751 1.87879 4.20751H14.7758L0.690907 18.3018C0.0121194 18.9811 0.0121194 20 0.690907 20.6792C1.3697 21.3584 2.38788 21.3584 3.06666 20.6792L17.1515 6.58486V19.4905C17.1515 20.5094 17.8303 21.1886 18.8485 21.1886C19.8667 21.1886 20.5455 20.5094 20.5455 19.4905V2.50939C20.5455 1.49052 19.8667 0.811279 18.8485 0.811279Z' fill='white'/%3E%3C/svg%3E%0A");
}

.worksSwiper {
    padding-bottom: 80px;
}

.worksSwiper .swiper-slide {
    transform: translateY(0px);
    transition: transform .3s;
}

.worksSwiper .swiper-slide.swiper-slide-active {
    transform: translateY(80px);
    transition: transform .3s;
}

.worksSwiper .swiper-slide.swiper-slide-prev {
    transform: translateY(40px);
    transition: transform .3s;
}

.worksSwiper .swiper-slide.swiper-slide-next {
    transform: translateY(40px);
    transition: transform .3s;
    transition-delay: .1s;
}

.worksSwiper .swiper-img {
    width: 100%;
}

/*------------------------------------------------------------------
[ section-team ]*/

.teamSwiper .swiper-wrapper {
    margin-bottom: 50px;
}

.teamSwiper .swiper-slide {
    height: 400px;
}

.teamSwiper .swiper-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-next,
.swiper-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    background-color: #120E1E;
    transition: all 0.3s ease;
}

.swiper-next:hover,
.swiper-prev:hover {
    height: 48px;
}

.swiper-next {
    right: 10px;
    left: auto;
}

.swiper-next > i {
    transform: rotate(180deg);
}

.swiper-prev {
    left: 10px;
    right: auto;
}

.swiper-next::before,
.swiper-prev::before {
    content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
}

.swiper-button-disabled {
    opacity: 0.075;
    pointer-events: none;
    cursor: default;
}

@media (max-width: 1200px) {

    .swiper-next,
    .swiper-prev {
        display: none;
    }
}

/*------------------------------------------------------------------
[ blogSwiper ]*/

.blogSwiper {
    --swiper-theme-color: var(--color-black);
    --swiper-navigation-size: 22px;
}

.blogSwiper .swiper-nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 0 auto;
}

.blogSwiper .swiper-nav > * {
    position: static;
    margin: 0;
}

.blogSwiper .swiper-pagination {
    width: auto;
}

/*------------------------------------------------------------------
[ section-contact ]*/

.contact-img-rounded {
    position: absolute;
    bottom: -70px;
    left: 10px;
    display: inline-block;
    animation: rounded-spin 12s infinite linear;
    scale: .75;
}

@-webkit-keyframes rounded-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rounded-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 992px) {

    .contact-img-rounded {
        bottom: -70px;
        left: -70px;
        scale: 1;
    }
}

/*------------------------------------------------------------------
[ accordeon ]*/

.btn-accordeon {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-red);
    cursor: pointer;
}

.btn-accordeon.collapsed {
    color: var(--color-black);
}

.btn-accordeon:hover {
    color: var(--color-red);
}

.btn-accordeon .accordion-caret {
    transform: rotate(0deg);
    transition: transform .2s ease-in-out;
}

.btn-accordeon.collapsed .accordion-caret {
    transform: rotate(90deg);
}

/*------------------------------------------------------------------
[ section-uslugi ]*/

.section-uslugi {
    position: relative;
    overflow-x: clip;
}

.section-uslugi .section-bg-img {
    position: absolute;
    top: -50px;
    right: -69px;
    z-index: -1;
}

.uslugi-grid {
    position: relative;
}

.widget-uslugi {
    margin-bottom: 72px;
}

.widget-uslugi .widget-title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
}

.widget-uslugi .widget-title p {
    font-size: 50px;
    font-weight: 600;
    font-variant: all-small-caps;
    text-transform: uppercase;
    margin-bottom: 0;
}

.widget-uslugi .widget-title img,
.widget-uslugi .widget-title svg {
    vertical-align: inherit;
}

.widget-uslugi .list-uslugi {
    --bs-link-color: #120E1E;
    --bs-link-hover-color: #e20338;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 0;
    padding-left: 24px;
}

.widget-uslugi .list-uslugi li {
    list-style-image: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 7L-6.52533e-07 13.9282L-4.68497e-08 0.0717964L12 7Z' fill='%23EF9CB0'/%3E%3C/svg%3E%0A");
    padding-inline-start: 12px;
}

.widget-uslugi .list-uslugi a {
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

@media (min-width: 992px) {

    .section-uslugi .section-bg-img {
        top: -50px;
        right: 5%;
    }
}

/*------------------------------------------------------------------
[ blog-grid ]*/

.blog-grid {
    max-width: 1010px;
}

/*------------------------------------------------------------------
[ page-content ]*/

.page-content {
    position: relative;
}

.page-content h1 {
    margin-bottom: 46px;
}

.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6 {
    margin-bottom: 24px;
}

.page-content p,
.page-content dl,
.page-content ol,
.page-content ul {
    font-size: 20px;
    margin-bottom: 32px;
}

.page-content img {
    margin-bottom: 46px;
}

@media (min-width: 992px) {

    .page-content h1 {
        margin-bottom: 72px;
    }

    .page-content img {
        margin-bottom: 72px;
    }
}

/*------------------------------------------------------------------
[ section-mission ]*/

.section-mission .section-title {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 32px;
}

.section-mission .section-title p {
    font-size: 32px;
    font-weight: 400;
    line-height: 112.5%;
    text-transform: uppercase;
    font-variant: all-small-caps;
    margin-bottom: 0;
}

.mission-card {
    font-size: 18px;
    font-weight: 400;
}

.mission-img {
    margin-bottom: 24px;
}

.mission-title {
    font-size: 32px;
    font-weight: 400;
    line-height: 93.75%;
    font-variant: all-small-caps;
    text-transform: uppercase;
    color: #E20338;
    margin-bottom: 8px;
}

.mission-card p:last-child {
    margin-bottom: 0;
}

@media (min-width: 992px) {

    .section-mission .section-title {
        margin-bottom: 72px;
        gap: 4px;
    }

    .section-mission .section-title p {
        font-size: 50px;
        line-height: 120%;
    }

    .mission-card {
        font-size: 24px;
    }
}

/*//////////////////////////////////////////////////////////////////
[ MEDIA ]*/

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {

    .ul-cols-lg-1 {
        display: grid;
        grid-template-columns: repeat(1, auto);
    }

    .ul-cols-lg-2 {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }

    .col-lg-20 {
        flex: 0 0 auto;
        width: 20%;
    }

    .col-lg-40 {
        flex: 0 0 auto;
        width: 40%;
    }

    .w-lg-auto {
        width: auto !important;
    }
}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {

    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1300px;
    }
}