/*!
 * Theme: AMD Media
 * Author: STARTSITE - Andrey Galkin
 * Version: 1.0
 */

/*------------------------------------------------------------------

+ IMPORT FONTS
+ ROOT
+ TYPOGRAPHY
+ LINKS
+ FORMS
+ BUTTONS
+ ANIMATIONS
+ BASE STYLES

+ CONTENT
  + HEADER
  + MENU
  + FOOTER
  + MAIN CONTENT

+ PAGES
  + PAGE INDEX.HTML
  + PAGE PROJECTS.HTML
  + PAGE PROJECT-ITEM.HTML
  + PAGE COMPANY.HTML
  + PAGE CONTACTS.HTML
  + PAGE USLUGI.HTML

+ MEDIA

-------------------------------------------------------------------*/

/*//////////////////////////////////////////////////////////////////
[ IMPORT FONTS ]*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

/*//////////////////////////////////////////////////////////////////
[ ROOT ]*/

:root {
    --color-black: #120E1E;
    --color-red: #e20338;
    --color-grey: #838189;
    --color-white: #FFFFFF;
    --ff-main: 'Source Sans Pro', sans-serif;
    --fw-regular: 400;
    --fw-semibold: 600;
}

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Custom Scrollbar */

html::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

html::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb {
    background-color: #120E1E;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    font-family: var(--ff-main);
    font-size: 1.125rem;
    font-weight: var(--fw-regular);
    line-height: 1.35;
    color: var(--color-black);
    background: var(--color-white);
}

/*//////////////////////////////////////////////////////////////////
[ TYPOGRAPHY ]*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: var(--ff-main);
    line-height: 1.35;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
    font-weight: var(--fw-regular);
    margin-top: 0;
    margin-bottom: 1.25rem;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
    font-weight: var(--fw-regular);
    margin-top: 0;
    margin-bottom: 1.125rem;
}

h1,
.h1 {
    font-size: 2.125rem;
}

h2,
.h2 {
    font-size: 2.125rem;
}

h3,
.h3 {
    font-size: 1.5rem;
}

h4,
.h4 {
    font-size: 1.25rem;
}

h5,
.h5 {
    font-size: 1.125rem;
}

h6,
.h6 {
    font-size: 1.125rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/*//////////////////////////////////////////////////////////////////
[ LINKS ]*/

a {
    color: var(--color-red);
    text-decoration: none;
    outline: none;
    transition: all 0.3s ease;
}

a:hover,
a:focus {
    color: var(--color-black);
    text-decoration: none;
    outline: none;
}

/*//////////////////////////////////////////////////////////////////
[ FORMS ]*/

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    outline: none;
}

:focus,
:active {
    outline: none;
}

textarea {
    overflow: auto;
}

.form-control,
.form-select {
    font-size: 1.125rem;
    color: #495057;
    border-radius: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-select {
    background-image: url(../img/dropdown.svg);
    background-size: 13px 10px;
}

.form-control:focus,
.form-select:focus {
    border-color: var(--color-black);
    box-shadow: none;
}

.form-contact .form-control,
.form-contact .form-select {
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

/*//////////////////////////////////////////////////////////////////
[ BUTTONS ]*/

.btn {
    --bs-btn-padding-x: 2.5rem;
    --bs-btn-padding-y: 0.75rem;
    --bs-btn-font-family: var(--ff-main);
    --bs-btn-font-size: 1.25rem;
    --bs-btn-font-weight: var(--fw-regular);
    --bs-btn-line-height: 1.35;
    --bs-btn-color: var(--color-white);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
}

.btn-primary {
    --bs-btn-color: var(--color-white);
    --bs-btn-bg: var(--color-black);
    --bs-btn-border-color: var(--color-black);
    --bs-btn-hover-color: var(--color-white);
    --bs-btn-hover-bg: var(--color-red);
    --bs-btn-hover-border-color: var(--color-red);
    --bs-btn-focus-shadow-rgb: 226, 3, 56;
    --bs-btn-active-color: var(--color-white);
    --bs-btn-active-bg: var(--color-red);
    --bs-btn-active-border-color: var(--color-red);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--color-white);
    --bs-btn-disabled-bg: var(--color-grey);
    --bs-btn-disabled-border-color: var(--color-grey);
    transition: transform .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary:active,
.btn-primary:hover {
    transform: translate(-0.25rem, -0.25rem);
    box-shadow: 0.25rem 0.25rem var(--color-black);
    z-index: 5;
}

.btn-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 50%;
}

.btn-md {
    padding: .5rem 1.5rem;
}

/*//////////////////////////////////////////////////////////////////
[ ANIMATIONS ]*/

.hover-shine:hover {
    opacity: 1;
    -webkit-animation: flash .8s;
    animation: flash .8s;
}

@-webkit-keyframes flash {
    0% {
        opacity: .65;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .65;
    }

    100% {
        opacity: 1;
    }
}

.hover-opacity {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.hover-opacity:hover {
    opacity: .65;
}

.hover-rotate:hover {
    transform: rotate(-15deg);
}

.img-floating {
    -webkit-animation: floating 5s ease-in-out infinite;
    animation: floating 5s ease-in-out infinite;
}

@-webkit-keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 8px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 8px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

.hover-cursor {
    cursor: url(../img/cursor-steps.svg) 0 0, pointer;
}

.rotate-link .rotate-img {
    transition: transform 0.3s ease;
}

.rotate-link:hover .rotate-img {
    transform: rotate(45deg);
}

/*//////////////////////////////////////////////////////////////////
[ BASE STYLES ]*/

img {
    display: block;
    max-width: 100%;
    height: auto;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.sticky-top {
    top: 20px;
}

.ff-main {
    font-family: var(--ff-main);
}

.ff-title {
    font-family: var(--ff-title);
}

.fw-normal,
.fw-regular,
.fw-400 {
    font-weight: 400;
}

.fw-semibold,
.fw-600 {
    font-weight: 600;
}

.fz-52 {
    font-size: 2.125rem;
}

.fz-48 {
    font-size: 2.125rem;
}

.fz-40 {
    font-size: 2.125rem;
}

.fz-34 {
    font-size: 2.125rem;
}

.fz-32 {
    font-size: 1.5rem;
}

.fz-30 {
    font-size: 1.5rem;
}

.fz-28 {
    font-size: 1.375rem;
}

.fz-22 {
    font-size: 1.375rem;
}

.fz-20 {
    font-size: 1.25rem;
}

.fz-16 {
    font-size: 1rem;
}

.fz-14 {
    font-size: .875rem;
}

.fz-12 {
    font-size: .75rem;
}

.fz-10 {
    font-size: .625rem;
}

.fz-8 {
    font-size: .5rem;
}

.bg-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.color-black {
    color: var(--color-black);
}

.color-red {
    color: var(--color-red);
}

.color-grey {
    color: var(--color-grey);
}

.color-white {
    color: var(--color-white);
}

.color-black-hover:hover {
    color: var(--color-black);
}

.color-red-hover:hover {
    color: var(--color-red);
}

.color-grey-hover:hover {
    color: var(--color-grey);
}

.color-white-hover:hover {
    color: var(--color-white);
}

.bg-color-black {
    background-color: var(--color-black);
}

.py-md {
    padding-top: 30px;
    padding-bottom: 30px;
}

.py-lg {
    padding-top: 70px;
    padding-bottom: 70px;
}

.py-xl {
    padding-top: 80px;
    padding-bottom: 80px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-50 {
    padding-bottom: 50px;
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--color-black);
    --bs-nav-link-hover-color: var(--color-red);
    --bs-nav-link-disabled-color: #6c757d;
}

.nav-pills {
    --bs-nav-pills-border-radius: 2.25rem;
    --bs-nav-pills-link-active-color: var(--color-black);
    --bs-nav-pills-link-active-bg: #D9D9D9;
}

.nav-pills .nav-link {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.nav.flex-column .nav-link {
    padding: 0.3rem 0;
}

/*//////////////////////////////////////////////////////////////////
[ CONTENT ]*/

/*//////////////////////////////////////////////////////////////////
[ HEADER ]*/

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: .5rem;
    --bs-navbar-color: var(--color-black);
    --bs-navbar-hover-color: var(--color-red);
    --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
    --bs-navbar-active-color: var(--color-red);
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-nav-link-padding-x: 1rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.25rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: none;
    --bs-navbar-toggler-border-color: transparent;
    --bs-navbar-toggler-border-radius: 0.375rem;
    --bs-navbar-toggler-focus-width: 0;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
}

/*//////////////////////////////////////////////////////////////////
[ MENU ]*/

.navbar-toggler {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navbar-toggler>span {
    width: 34px;
    height: 4px;
    border-radius: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: var(--color-black);
}

.navbar-toggler>span:nth-child(3) {
    width: 17px;
}

.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {
    --bs-offcanvas-zindex: 1045;
    --bs-offcanvas-width: 21rem;
    --bs-offcanvas-height: 100vh;
    --bs-offcanvas-padding-x: 1rem;
    --bs-offcanvas-padding-y: 1rem;
    --bs-offcanvas-color: ;
    --bs-offcanvas-bg: #fff;
    --bs-offcanvas-border-width: 0;
    --bs-offcanvas-border-color: var(--bs-border-color-translucent);
    --bs-offcanvas-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-size: 1.25rem;
    --bs-nav-link-font-weight: var(--fw-regular);
}

.dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 12rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.25rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-color: var(--color-black);
    --bs-dropdown-bg: #fff;
    --bs-dropdown-border-color: #fff;
    --bs-dropdown-border-radius: 0.375rem;
    --bs-dropdown-border-width: 1px;
    --bs-dropdown-inner-border-radius: calc(0.375rem - 1px);
    --bs-dropdown-divider-bg: #e2e5f1;
    --bs-dropdown-divider-margin-y: 0.375rem;
    --bs-dropdown-box-shadow: 0 0.275rem 1.25rem rgba(11, 15, 25, 0.05), 0 0.25rem 0.5625rem rgba(11, 15, 25, 0.03);
    --bs-dropdown-link-color: var(--color-black);
    --bs-dropdown-link-hover-color: var(--color-red);
    --bs-dropdown-link-hover-bg: #fff;
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: var(--color-black);
    --bs-dropdown-link-disabled-color: #adb5bd;
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.25rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
}

.dropdown-toggle::after {
    content: '\ea4a';
    font-family: "boxicons";
    font-size: 1.15rem;
    font-weight: normal;
    vertical-align: middle !important;
    border: none !important;
    line-height: 1;
}

.navbar .navbar-nav .dropdown-menu {
    border: 0;
    border-left: 1px solid #e2e5f1;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    background: none;
    box-shadow: none;
}

.dropdown-menu.show {
    -webkit-animation: fade-in .3s ease-in-out;
    animation: fade-in .3s ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes dropdown-show {
    from {
        transform: scale(.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.logo {
    display: inline-block;
    width: 95px;
}

/*//////////////////////////////////////////////////////////////////
[ FOOTER ]*/

.footer {
    padding: 100px 0;
}

.footer .nav-link {
    color: var(--color-grey);
}

.footer .nav-link:hover,
.footer .nav-link:focus {
    color: var(--color-red);
}

.back-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    opacity: 0;
    visibility: hidden;
    z-index: 9998;
}

.back-top.show {
    opacity: 1;
    visibility: visible;
}

/*------------------------------------------------------------------
[ Modal ]*/

.modal {
    --bs-modal-padding: 1.5rem;
    --bs-modal-header-border-width: 0;
    --bs-modal-header-padding: 1.5rem 1.5rem;
    --bs-modal-border-width: 0;
    --bs-modal-border-radius: 0;
}

.btn-close {
    width: 21px;
    height: 21px;
    background: transparent url(../img/cross.svg) 50%/21px auto no-repeat;
    opacity: .9;
}

/*//////////////////////////////////////////////////////////////////
[ MAIN CONTENT ]*/

.main {
    padding: 0 0 150px;
}

.main>*+* {
    margin-top: 150px;
}

/*//////////////////////////////////////////////////////////////////
[ PAGES ]*/

/*//////////////////////////////////////////////////////////////////
[ PAGE INDEX.HTML ]*/

.section-hero {
    position: relative;
    padding: 70px 0 0;
}

.btn-rounded-interactive {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 180px;
    height: 180px;
    color: var(--color-black);
    font-weight: var(--fw-semibold);
    border: 3px solid;
    border-color: var(--color-black);
    border-radius: 50%;
}

.btn-rounded-interactive:hover {
    color: var(--color-white);
    background-color: var(--color-red);
}

.pink-shadow-hover:hover {
    color: var(--color-white);
    border-color: var(--color-white);
    background-color: rgb(237 93 126 / 70%);
    -webkit-box-shadow: 0px 0px 120px 50px rgb(237 93 126 / 70%);
    -moz-box-shadow: 0px 0px 120px 50px rgb(237 93 126 / 70%);
    box-shadow: 0px 0px 120px 50px rgb(237 93 126 / 70%);
}

.social-list {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.social-list>li>a {
    display: block;
    padding: 0.25rem 0;
}

.slider-text {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider-text::before,
.slider-text::after {
    background: linear-gradient(to right, white 0%, rgb(0 0 0 / 0%) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 100px;
    z-index: 2;
}

.slider-text::before {
    top: 0;
    left: 0;
}

.slider-text::after {
    top: 0;
    right: 0;
    transform: rotateZ(180deg);
}

.slider-text-track {
    display: flex;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-animation: marquee-left 34s linear infinite;
    animation: marquee-left 34s linear infinite;
}

.slider-text:hover .slider-text-track {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.slider-text-item {
    width: max-content;
    padding: 0 3rem;
}

.slider-text-item>span {
    white-space: nowrap
}

@-webkit-keyframes marquee-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes marquee-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.sidebar-nav .nav-link {
    color: var(--color-black);
    font-weight: var(--fw-semibold);
    padding: 0.6rem 0 !important;
}

.sidebar-nav .nav-link:hover,
.sidebar-nav .nav-link:focus {
    color: var(--color-black);
}

.sidebar-nav .nav-link.active {
    color: var(--color-red);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: var(--color-white);
    background-clip: border-box;
    border: none;
    border-radius: 0;
}

.activitySwiper .swiper-slide {
    width: 360px;
    height: auto;
}

.pe-sm-200 {
    padding-right: 100px;
}

.pojects__item {
    margin-bottom: 30px;
}

.testimonialSwiper .swiper-wrapper {
    margin-bottom: 35px;
}

.testimonialSwiper-next,
.testimonialSwiper-prev {
    position: absolute;
    top: 50%;
    width: 72px;
    height: 48px;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonialSwiper-next {
    right: 10px;
    left: auto;
}

.testimonialSwiper-prev {
    left: 10px;
    right: auto;
}

.testimonialSwiper-next.swiper-button-disabled,
.testimonialSwiper-prev.swiper-button-disabled {
    opacity: 0;
}

.testimonialSwiper-next.swiper-button-next:after,
.testimonialSwiper-prev.swiper-button-prev:after {
    content: none;
}

.testimonialSwiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--color-black);
}

.testimonial-text {
    padding: 50px 30px 40px 30px;
    border: 2px solid;
    border-color: #BCBBBF;
}

.overlay-item {
    position: relative;
    overflow: hidden;
}

.overlay-layer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0%);
    transition: bottom .6s ease;
}

.blog-item__meta>a {
    color: var(--color-black);
    margin-right: 10px;
}

.blog-item__meta>a:hover {
    color: var(--color-red);
}

.blog-item__meta>a::before {
    content: '#';
    margin-right: 3px;
}

/*//////////////////////////////////////////////////////////////////
[ PAGE PROJECTS.HTML ]*/

.section-back-link {
    padding-top: 40px;
    padding-bottom: 40px;
}

.back-link img {
    transition: all 0.3s ease;
}

.back-link:hover img {
    transform: translate(-0.25rem, 0);
}

/*//////////////////////////////////////////////////////////////////
[ PAGE PROJECT-ITEM.HTML ]*/

.case-item-header {
    padding-bottom: 116px;
}

.case-item-text>div {
    padding-bottom: 116px;
}

.case-item-text>div:last-child {
    padding-bottom: 0;
}

.projectSwiper .swiper-slide {
    width: 870px;
}

.worksSwiper {
    padding-bottom: 50px;
}

.worksSwiper .swiper-slide {
    transform: translateY(0px);
    transition: transform .3s;
}

.worksSwiper .swiper-slide.swiper-slide-active {
    transform: translateY(50px);
    transition: transform .3s;
}

.worksSwiper .swiper-slide.swiper-slide-prev {
    transform: translateY(25px);
    transition: transform .3s;
}

.worksSwiper .swiper-slide.swiper-slide-next {
    transform: translateY(25px);
    transition: transform .3s;
    transition-delay: .1s;
}

/*//////////////////////////////////////////////////////////////////
[ PAGE COMPANY.HTML ]*/

.companyGallerySwiper {
    padding-bottom: 50px;
}

.companyGallerySwiper .swiper-slide {
    width: 350px;
}

.blog-sidebar>.blog-sidebar-widget {
    padding-top: 35px;
    padding-bottom: 35px;
}

.blog-sidebar>.blog-sidebar-widget:first-child {
    padding-top: 0;
}

.blog-sidebar>.blog-sidebar-widget:last-child {
    padding-bottom: 0;
}

.subscribe-form>.form-control {
    padding: 8px 21px;
}

/*//////////////////////////////////////////////////////////////////
[ PAGE CONTACTS.HTML ]*/

.contact-img-rounded {
    position: absolute;
    bottom: -70px;
    left: 10px;
    display: inline-block;
    animation: rounded-spin 12s infinite linear;
    scale: .75;
}

@-webkit-keyframes rounded-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rounded-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*//////////////////////////////////////////////////////////////////
[ PAGE USLUGI.HTML ]*/

.btn-accordeon {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-red);
    cursor: pointer;
}

.btn-accordeon.collapsed {
    color: var(--color-black);
}

.btn-accordeon:hover {
    color: var(--color-red);
}

.btn-accordeon .accordion-caret {
    transform: rotate(0deg);
    transition: transform .2s ease-in-out;
}

.btn-accordeon.collapsed .accordion-caret {
    transform: rotate(90deg);
}

/*//////////////////////////////////////////////////////////////////
[ MEDIA ]*/

@media (min-width: 576px) {

    .activitySwiper .swiper-slide {
        width: 461px;
    }

    .companyGallerySwiper .swiper-slide {
        width: 870px;
    }

    .pe-sm-200 {
        padding-right: 200px;
    }
}

@media (min-width: 768px) {
    .activitySwiper .card {
        min-height: 330px;
    }
}

@media (min-width: 992px) {

    h1,
    .h1 {
        font-size: 2.5rem;
    }

    h2,
    .h2 {
        font-size: 2rem;
    }

    h3,
    .h3 {
        font-size: 1.25rem;
    }

    h4,
    .h4 {
        font-size: 1.25rem;
    }

    h5,
    .h5 {
        font-size: 1.125rem;
    }

    h6,
    .h6 {
        font-size: 1.125rem;
    }

    .fz-52 {
        font-size: 3.25rem;
    }

    .fz-48 {
        font-size: 3rem;
    }

    .fz-40 {
        font-size: 2.5rem;
    }

    .fz-32 {
        font-size: 2rem;
    }

    .fz-30 {
        font-size: 1.875rem;
    }

    .fz-28 {
        font-size: 1.75rem;
    }

    .fz-22 {
        font-size: 1.375rem;
    }

    .fz-20 {
        font-size: 1.25rem;
    }

    .fz-16 {
        font-size: 1rem;
    }

    .fz-14 {
        font-size: .875rem;
    }

    .fz-12 {
        font-size: .75rem;
    }

    .fz-10 {
        font-size: .625rem;
    }

    .fz-8 {
        font-size: .5rem;
    }

    .btn-md {
        padding: .75rem 2.5rem;
    }

    .offcanvas,
    .offcanvas-lg,
    .offcanvas-md,
    .offcanvas-sm,
    .offcanvas-xl,
    .offcanvas-xxl {
        --bs-offcanvas-height: 70vh;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        margin-top: var(--bs-dropdown-spacer);
        border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
        border-radius: var(--bs-dropdown-border-radius);
        background-color: var(--bs-dropdown-bg);
        box-shadow: var(--bs-dropdown-box-shadow);
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu.show {
        -webkit-animation: dropdown-show .3s;
        animation: dropdown-show .3s;
    }

    .section-hero {
        padding: 150px 0 0;
    }

    .btn-rounded-interactive {
        width: 205px;
        height: 205px;
    }

    .slider-text::before,
    .slider-text::after {
        width: 200px;
    }

    .overlay-layer {
        bottom: -100%;
    }

    .overlay-item:hover .overlay-layer {
        bottom: 0;
    }

    .testimonial-video {
        margin-left: -90px;
    }

    .testimonial-text {
        margin-top: 30px;
        padding: 50px 80px 40px 30px;
        height: 100%;
    }

    .subscribe-form>.form-control {
        padding: 12px 41px;
    }

    .contact-img-rounded {
        bottom: -70px;
        left: -70px;
        scale: 1;
    }

}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

@media (min-width: 2560px) {

    body {
        font-size: 1.8rem;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 90%;
    }

    h1,
    .h1 {
        font-size: 4rem;
    }

    h2,
    .h2 {
        font-size: 3.2rem;
    }

    h3,
    .h3 {
        font-size: 2.1rem;
    }

    h4,
    .h4 {
        font-size: 2.1rem;
    }

    h5,
    .h5 {
        font-size: 1.8rem;
    }

    h6,
    .h6 {
        font-size: 1.8rem;
    }

    .fz-52 {
        font-size: 5.2rem;
    }

    .fz-48 {
        font-size: 4.8rem;
    }

    .fz-40 {
        font-size: 4rem;
    }

    .fz-32 {
        font-size: 3.2rem;
    }

    .fz-30 {
        font-size: 3rem;
    }

    .fz-28 {
        font-size: 2.8rem;
    }

    .fz-22 {
        font-size: 2.2rem;
    }

    .fz-20 {
        font-size: 2rem;
    }

    .fz-16 {
        font-size: 1.6rem;
    }

    .fz-14 {
        font-size: 1.4rem;
    }

    .fz-12 {
        font-size: 1.2rem;
    }

    .fz-10 {
        font-size: 1rem;
    }

    .fz-8 {
        font-size: .8rem;
    }

    .pt-100 {
        padding-top: 150px;
    }

    .btn {
        font-size: 2rem;
    }

    .nav-link {
        font-size: 1.8rem;
    }

    .nav-pills .nav-link {
        font-size: 2rem;
    }

    .logo {
        width: 160px;
    }

    .logo>img {
        width: 100%;
    }

    .navbar-nav .nav-link {
        font-size: 2rem;
        font-weight: var(--fw-semibold);
    }

    .social-list>li>a {
        padding: 0.5rem 0;
    }

    .form-control,
    .form-select {
        font-size: 1.8rem;
    }

    .btn-rounded-interactive {
        width: 295px;
        height: 295px;
    }

    .activitySwiper .swiper-slide {
        width: 751px;
    }

    .activitySwiper .card {
        min-height: 500px;
    }

    .pe-sm-200 {
        padding-right: 300px;
    }

    .overlay-layer>a>img {
        width: 300px;
        height: 300px;
    }
}